.blue-hello{
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
}

body.blue {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

html.blue {
    height: 100vh;
}

.green {
    color: green;
}

#img-rails {
    width: 30vw;
    height: auto;
}

.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#id .sta {
    
}