h1 {
    text-align: center;
}

.todo_item_block {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-between;
}

.todo_item_block div.number {
    flex-grow: 2;
}

.todo_item_block p, .todo_item_block form {
    flex-grow: 1;
}

.complete-show-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}